<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ludo</title>
</head>
<body>
<div>
    <h1>Ludo Server Statistics (EJS view)</h1>
    <p>On-going Games: <%= ongoingGames %></p>
    <p>Currently playing: <%= currentlyPlaying %></p>
    <p>Players Waiting: <%= playersWaiting %></p>
    <button onclick="location.href='./play'">Play</button>
</div>
</body>
</html>